{{ $secretsProfile := promptStringOnce . "secretsProfile" "What is your secrets profile" -}}

[data]
secretsProfile = {{ $secretsProfile | quote | default "personal" }}
nushell_dir = """{{ if eq .chezmoi.os "darwin" -}}
    Library/Application Support/nushell
{{- else -}}
    .config/nushell
{{- end -}}"""

[data.gitOwnerProfiles]
# Org = "work"
# User = "work"
# dhruvbaldawa = "personal"
dhruvbaldawa = "personal"
