{{ $pathEmail := list $.secretsProfile "profile" "gitemail" | join "/" -}}
{{ $pathSigningKey := list $.secretsProfile "profile" "gitsigningkey" | join "/" -}}

[user]
name = Dhruv Baldawa
email = {{ gopass $pathEmail }}
signingkey = {{ gopass $pathSigningKey }}

[commit]
gpgsign = true

[core]
sshCommand = "ssh -i ~/.ssh/id_github_work"
