[user]
name = Dhruv Baldawa
email = {{ gopass "personal/profile/gitemail" }}
signingkey = {{ gopass "personal/profile/gitsigningkey" }}

[commit]
gpgsign = true

[core]
sshCommand = "ssh -i ~/.ssh/id_github_dhruv"

# Any GitHub repo with my username should be checked out r/w by default
# http://rentzsch.tumblr.com/post/564806957/public-but-hackable-git-submodules
[url "git@github.com:dhruvbaldawa/"]
  insteadOf = "git://github.com/dhruvbaldawa/"
